<nav class="nav">
    <div class="title" id="chattitle"><%- link_to('Chat', '/') %></div>
    <div class="login-signup">
        <% if(user) {%>
            Logged in as <b><%= user.username %></b>.
            <%- link_to('Log out', '/logout') %>
        <%} else {%>
            <%- link_to('Sign up', '/sign-up') %>
        <%}%>
    </div>
</nav>
<style>
    .nav {
        margin-bottom: 20px;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
    }
    .title {
        font-size: 30px;
        font-family: serif;
        text-align: center;
        width: 100%;
    }
    .login-signup {
        position: absolute;
        right: 20px;
        top: 12px;
    }
    #chattitle>* {
        color: black !important;
    }
    #chattitle>*:hover {
        text-decoration: none !important;
    }
</style>